#name {
    cursor: pointer;   
    color: gold;
    text-shadow: 0 0 3px black, 0 0 5px black
}

#name:hover {
    background-color: lightgray;
}

th {
    border-right: 1px solid lightgray;
    background-color: rgb(236, 236, 236);

}

#dob {
    border-right: none;
}